.container input {
  font-size: 14px;
  font-weight: 400;
}

.container textarea {
  font-size: 14px;
  font-weight: 400;
}

.container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #1b283f;
  position: relative;
  width: 360px;
  height: calc(100vh - 100px);
  flex: 0 0 360px;
  width: 360px;
  min-width: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #e5eaee;
  filter: drop-shadow(0 4px 11px rgba(0, 0, 0, 0.5));
  margin-left: 16px;
}

.container .iconButton {
  width: 24px;
  height: 24px;
}

.container .iconButton * {
  cursor: pointer;
}

.container .header div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: #1b283f;
}

.container .header p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: #1b283f;
}

.container .header {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 48px;
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border-radius: 8px 8px 0px 0px;
}

.container .header .name {
  font-size: 14px;
  line-height: 20.72px;
}

.container .content {
  width: 100%;
  flex: 1;
  margin-top: 48px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  box-sizing: border-box;
}

.container .footer div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: #1b283f;
}

.container .footer p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: #1b283f;
}

.container .footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  position: relative;
}

.container .footer .ingText p {
  font-size: 12px;
  color: #80808f;
  margin-right: 3px;
}

.container .footer .toolbar {
  filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.03));
  width: 100%;
  height: 44px;
  background: #f9fafb;
  border-top: 1px solid #e5eaee;
  border-bottom: 1px solid #e5eaee;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  gap: 10px;
}
.container .footer .toolbar .imageInput {
  width: 0;
}

.container .footer .chatInputArea {
  width: 100%;
  padding: 0px 16px;
  display: flex;
}

.container .footer .chatInputArea .chatInput {
  padding: 0;
  margin: 16px 0;
  line-height: 20.72px;
  flex: 1;
  resize: none; /* 사용자 임의 변경 불가 */
  border: none;
  outline-width: 0;
}

.container .footer .chatInputArea .chatInput::placeholder {
  color: #b5b5c3;
}

.container .footer .chatInputArea .submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 6px;
  width: 52px;
  height: 36px;
  background-color: #e5eaee;
  color: #b5b5c3;
  margin-left: 7px;
  margin-top: 9px;
}

.container .footer .chatInputArea .submit.enable {
  background-color: #3699ff;
  color: white;
  cursor: pointer;
}

.container .footer .ingText {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 16px;
  margin-bottom: 4px;
}

.container .footer .newMessageBar {
  display: none;
  width: calc(100% - 32px);
  margin: 0px 16px;
  height: 30px;
  top: -46px;
  border-radius: 6px;
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  border: 1px solid black;
}

.container .footer .newMessageBar.active {
  display: flex;
  align-items: center;
}
