.container div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: #1b283f;
}

.container p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: #1b283f;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding-top: 16px;
}

.container.continue {
  padding-top: 8px;
}

.container .systemMessage {
  box-sizing: border-box;
  padding: 5px 16px;
  width: 100%;
  text-align: center;
  background-color: rgba(33, 33, 33, 0.05);
  font-size: 12px;
  color: #464e5f;
}

.container .dateContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .dateContainer .bar {
  flex: 1;
  height: 1px;
  background-color: #e5eaee;
}

.container .dateContainer .date {
  font-size: 12px;
  color: #464e5f;
  margin: 0px 10px;
}
