.container div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: #1B283F;
}

.container p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: #1B283F;
}

.container {
  box-sizing: border-box;
  max-width: 280px;
  padding-top: 16px;
}

.container.pending {
}

.container.continue {
  padding-top: 8px;
}

.container.customer {
  align-self: flex-start;
  margin-left: 16px;
}

.container.user {
  align-self: flex-end;
  margin-right: 16px;
}

.container .name {
  font-size: 12px;
  margin-bottom: 2px;
  color: #80808f;
}

.container .message {
  padding: 12px;
  border-radius: 8px;
  box-sizing: border-box;
}

.container.customer .message {
  color: #1b283f;
  border: 1px solid #e5eaee;
}

.container.user .message {
  align-self: flex-end;
  background-color: #3699ff;
}

.container.user .message .subName {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 2px;
  color: white;
}

.container .message .content .text {
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.container.user .message .content .text {
  color: white;
}

.container .message .content .image {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.container .message .content .file {
  cursor: pointer;
}

.container .message .content .file .text {
  text-decoration: underline;
  color: blue;
}
