.container div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: #1B283F;
}

.container p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #1B283F;
}

.container {
  box-sizing: border-box;
  font-size: 14px;
  color: #1B283F;
  display: flex;
  flex-direction: column;
  width:100%;
  height: 93px;
  background-color: white;
  padding:14px 16px;
  cursor: pointer;
}

.container:hover {
  background-color: #E5EAEE;
}

.container .header {
  display: flex;
  width:100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .header .name{
  font-size: 16px;
  line-height: 23.68px;
}

.container .header .date{
  font-size: 12px;
  color: #80808F;
  line-height: 17.76px;
}

.container .content {
  margin-top: 3px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .content .latestMessage {
  color: #80808F;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  flex:1;
  margin-right: 16px;
  font-size: 13px;
  line-height: 19.24px; 
}

.container .content .newMsgCount {
  width:fit-content;
  height:fit-content;
  border-radius: 4px;
  background-color: #F64E60;
  font-size: 11px;
  color: white;
  padding: 2px 4px;
}
