.container input,
textarea {
  font-size: 14px;
  font-weight: 400;
}

.container.minimized {
  transform: translateY(100%) translateY(-48px);
}

.container {
  box-sizing: border-box;
  font-size: 14px;
  color: #1b283f;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  flex: 0 0 316px;
  width: 316px;
  min-width: 0;
  background: white;
  border-radius: 8px 8px 0 0;
  border: 1px solid #e5eaee;
  filter: drop-shadow(0 4px 11px rgba(0, 0, 0, 0.5));
  transform: translateY(0);
  transition-duration: 167ms;
  animation: fade-in 167ms cubic-bezier(0.4, 0, 1, 1);
  margin-left: 16px;
}

.container .header {
  box-sizing: border-box;
  font-size: 14px;
  color: #1b283f;
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 18px;
  border-bottom: 1px solid #e5eaee;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.container .header .content {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 0 5px 0 10px;
  align-items: center;
}

.container .header .content .name {
  margin: 0;
}

.container .header .content .newMsgCount {
  margin-left: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  background-color: #f64e60;
  font-size: 11px;
  color: white;
  padding: 2px 4px;
}

.container .header .content .newMsgCount p {
  font-size: 11px;
  color: white;
}

.container .header .minimize-icon {
  width: 24px;
  height: 24px;
  transform: rotate(0);
}

.container .header .msg-icon {
  width: 32px;
  height: 32px;
}

.container .header .flip {
  transform: rotate(180deg);
}

.container .search {
  box-sizing: border-box;
  font-size: 14px;
  color: #1b283f;
  margin: 16px;
  padding: 0px 16px;
  height: 36px;
  border: 1px solid #e5eaee;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .search .search-icon {
  margin-right: 10px;
}

.container .search .search-input {
  flex: 1;
  outline: 0;
  border: none;
}

.container .search .search-input::placeholder {
  color: #b5b5c3;
}
